@{
  Layout = "_Layout";
}

<form action="/guess" method="post">
  <label for="letterGuess">Guess a letter:</label>
  <input id="letterGuess" name="letterGuess" type="text">
  <button type="submit">Submit</button>
</form>