@{
  Layout = "_Layout";
}

<form action="/games" method="post">
  @* <label for="answer">Enter your word</label>
  <input id="answer" name="answer" type="text"> *@
  <button type="submit">Generate a random word!</button>
</form>